// Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Common Styles
body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: $black-color;
  color: $gray-color;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: $white-color;
}

a {
  color: $white-color;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}
