// Showcase
.showcase {
  width: 100%;
  height: 93vh;
  position: relative;
  background: url("../assets/img/background.jpg") no-repeat center center/cover;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 120px 100px 250px $black-color, inset -120px -100px 250px $black-color;
  }
}

// Showcase Top
.showcase-top {
  position: relative;
  height: 90px;
  z-index: 2;

  img {
    width: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: $transform_translate;
  }

  a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: $transform_translate;
  }
}

// Showcase Content
.showcase-content {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 9rem;
  z-index: 2;

  h1 {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.1;
    margin: 0 0 2rem;
  }

  p {
    text-transform: uppercase;
    color: $white-color;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.25;
    margin: 0 0 2rem;
  }
}
