// Tabs
.tabs {
  background: $dark-color;
  padding-top: 1rem;
  border-bottom: 3px solid #3d3d3d;

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;

    & > div {
      padding: 1.5rem 0;

      &:hover {
        color: $white-color;
        cursor: pointer;
      }
    }
  }

  p {
    font-size: 1.2rem;
    padding-top: 0.5rem;
  }
}

.tab-border {
  border-bottom: $primary-color 4px solid;
}

// Tab Content
.tab-content {
  padding: 3rem 0;
  background: $black-color;
  color: $white-color;
}

// Hide content initially
#tab-1-content,
#tab-2-content,
#tab-3-content {
  display: none;
}

.show {
  display: block !important;
}

#tab-1-content {
  .tab-1-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
  }
}

#tab-2-content {
  .tab-2-content-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .tab-2-content-bottom {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 700px) {
  #tab-1-content {
    .tab-1-content-inner {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }

  #tab-2-content {
    .tab-2-content-top {
      display: block;
      text-align: center;
    }

    .tab-2-content-bottom {
      grid-template-columns: 1fr;
    }
  }
}
