@import "./variables";
@import "./common";
@import "./showcase";
@import "./tabs";
@import "./table";
@import "./footer";
@import "./container";
@import "./text";
@import "./buttons";

@media (max-width: 960px) {
  .showcase {
    height: 70vh;
  }

  .hide-sm {
    display: none;
  }

  .showcase-top {
    img {
      top: 30%;
      left: 5%;
      transform: translate(0);
    }
  }

  .showcase-content {
    h1 {
      font-size: 3.7rem;
      line-height: 1;
    }

    p {
      font-size: 1.5rem;
    }
  }

  .footer {
    .footer-cols {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .btn-xl {
    font-size: 1.5rem;
    padding: 1.4rem 2rem;
  }

  .text-xl {
    font-size: 1.5rem;
  }

  .text-lg {
    font-size: 1.3rem;
  }

  .text-md {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .showcase {
    &::after {
      box-shadow: inset 80px 80px 250px $black-color, inset -80px -80px 250px $black-color;
    }
  }

  #tab-1-content {
    .tab-1-content-inner {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }

  #tab-2-content {
    .tab-2-content-top {
      display: block;
      text-align: center;
    }

    .tab-2-content-bottom {
      grid-template-columns: 1fr;
    }
  }
}
