@import "./variables";

// Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Common Styles
body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #000000;
  color: #999999;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

// Showcase
.showcase {
  width: 100%;
  height: 93vh;
  position: relative;
  background: url("../assets/img/background.jpg") no-repeat center center/cover;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
  }
}

.showcase-top {
  position: relative;
  height: 90px;
  z-index: 2;

  img {
    width: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: $transform_translate;
  }

  a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: $transform_translate;
  }
}

.showcase-content {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 9rem;
  z-index: 2;

  h1 {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.1;
    margin: 0 0 2rem;
  }

  p {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.25;
    margin: 0 0 2rem;
  }
}

// Buttons
.btn {
  display: inline-block;
  background: $primary-color;
  color: #ffffff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;

  &:hover {
    opacity: 0.9;
  }
}

.btn-rounded {
  border-radius: 5px;
}

.btn-xl {
  font-size: 2rem;
  padding: 1.5rem 2.1rem;
  text-transform: uppercase;
}

.btn-lg {
  font-size: 1rem;
  padding: 0.8rem 1.3rem;
  text-transform: uppercase;
}
